<body style="background-color:#bccce1">


<div class="col-lg-8 " style=" margin: auto; margin-top: 100px; margin-bottom: 20px">
    <div class="card max-height-vh-80 ">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
                <div class="row">
                    <div class="col-md-10">
                        <div class="d-flex align-items-center">
                            <img alt="Image" src="../assets/img/team-2.jpg" class="avatar">
                            <div class="ms-3">
                                <h6 class="mb-0 d-block text-white">Equipe de Masterclass</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 my-auto">
                        <div class="dropdown">
                            <button class="btn btn-icon-only text-white mb-0" type="button" data-bs-toggle="dropdown">
                                <i class="material-icons">settings</i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end me-sm-n2 p-2" aria-labelledby="chatmsg">
                                <li>
                                    <a class="dropdown-item border-radius-md" href="javascript:;">
                                        Profile
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-radius-md" href="javascript:;">
                                        Conversation muette
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-radius-md" href="javascript:;">
                                        Bloquer
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-radius-md" href="javascript:;">
                                        Effacer la discussion
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item border-radius-md text-danger" href="javascript:;">
                                        Supprimer la discussion
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body overflow-auto overflow-x-hidden" style="height: 600px">
            <ng-container *ngFor="let message of chatService.messages" >

                <div class="row justify-content-start mb-4" *ngIf="message.user.name != this.username ">
                    <div class="col-auto">
                        <div class="card ">
                            <div class="card-body p-2">
                                <p class="mb-1"> {{message.user.name}} :
                                    {{message.text}}
                                </p>
                                <div class="d-flex align-items-center text-sm opacity-6">
                                    <i class="material-icons text-sm me-1">calendrier</i>
                                    <small>3:14am</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end text-right mb-4" *ngIf="message.user.name == this.username  ">
                    <div class="col-auto">
                        <div class="card bg-gradient-primary text-white">
                            <div class="card-body p-2">
                                <p class="mb-1">{{message.user.name}} :
                                    {{message.text}}<br>
                                </p>
                                <div class="d-flex align-items-center justify-content-end text-sm opacity-6">
                                    <i class="material-icons text-sm me-1">done_all</i>
                                    <small>4:42pm</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="card-footer d-block">
            <form class="align-items-center">
                <div class="input-group input-group-outline d-flex">
                    <label class="form-label">Taper votre message</label>
                    <input type="text" name="messages" class="form-control form-control-lg" [(ngModel)]= "messages" >
                    <button class="btn bg-gradient-primary mb-0" (click)="sendMessage($event, avatar)">
                        <i class="material-icons">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
