<div class="p-grid">
    <div class="p-col-12">
        <div class="card">


                <p-table #dt [value]="reservations" styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
                         styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
                         [filterDelay]="0" [globalFilterFields]="['reservid','datedebut', 'datefin', 'nbjour', 'prix']">

                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                            <h5 class="p-m-0">Gestion des réservations</h5>
                            <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                           placeholder="Global Search"/>
                            </span>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 4rem">
                            </th>
                            <th pSortableColumn="reservid">ID <p-sortIcon field="reservid"></p-sortIcon></th>
                            <th pSortableColumn="datedebut">Date début <p-sortIcon field="datedebut"></p-sortIcon></th>
                            <th pSortableColumn="datefin">Date fin<p-sortIcon field="datefin"></p-sortIcon></th>
                            <th pSortableColumn="nbjour">Nombre de jours<p-sortIcon field="nbjour"></p-sortIcon></th>
                            <th pSortableColumn="prix">Prix<p-sortIcon field="prix"></p-sortIcon></th>
                            <th pSortableColumn="prix">Annulation<p-sortIcon field="prix"></p-sortIcon></th>
                            <th pSortableColumn="prix">Details<p-sortIcon field="prix"></p-sortIcon></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-reservation>
                        <tr>
                            <td>
                            </td>
                            <td><span class="p-column-title"></span>
                                {{reservation.reservid}}
                            </td>
                            <td><span class="p-column-title"></span>
                                {{reservation.datedebut}}
                            </td>
                            <td><span class="p-column-title"></span>
                                {{reservation.datefin}}
                            </td>
                            <td><span class="p-column-title"></span>
                                {{reservation.nbjour}}
                            </td>
                            <td><span class="p-column-title"></span>
                                {{reservation.prix}}
                            </td>
                            <td >
                                    <button pButton pRipple icon="pi pi-trash" (click)="deleteReservation(reservation.reservid)" type="button" class="p-button-rounded p-button-danger"></button>
                            </td>

                            <td>
                                <button pButton pRipple icon="pi pi-bookmark" class="p-button-rounded p-button-secondary"
                                        (click)="openDialog(reservation.vehiculeReservation)"></button>
                            </td>
                        </tr>
                            <p-dialog header="Détails de réservation" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [style]="{ 'width': '1200px', 'height': '400px' }">
                                <div class="content">
                                    <div class="card">
                                        <div class="container-fluid pt-4 px-4">
                                            <div class="row g-4">
                                                <div class="col-sm-6 col-xl-3">
                                                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                                        <h3 class="mb-2">Revenues</h3>
                                                        <div>
                                                        <i class="fa fa-chart-line fa-3x text-primary"></i>
                                                        <h4 class="mb-0" >${{ revenu }}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container-fluid pt-4 px-4">
                                        <div class="bg-light text-center rounded p-4">
                                            <div style="text-align:right; padding-bottom: 30px;">
                                                <button class="table-dark-bg" type="button"(click)="openDialogg(reservation.vehiculeReservation)" class="btn btn-dark" style="color: white;background-color: #3092b0; font-weight: bold;">
                                                Réserver</button>
                                            </div>

                                            <p-dialog header="Détails de réservation" [(visible)]="displayDialogg" [modal]="true" [responsive]="true" [style]="{ 'width': '900px', 'height': '300px' }">
                                                <section>
                                                    <div class="content">
                                                        <div class="container" style="margin-top: 20px;">
                                                            <div class="bg-light text-center rounded p-4">
                                                                <div >
                                                                    <h3 style="text-align: center;"> Ajouter une nouvelle réservation</h3>
                                                                </div>
                                                                <form style="width: 50%; margin-left: auto; margin-right: auto;" >
                                                                    <div class="row " >
                                                                        <div class="col-6">
                                                                            <label for="">Date début</label>
                                                                            <input type="date" name="datedebut" (change)="validationDate($event)"  [(ngModel)]="contract.datedebut" required  class="form-control">
                                                                        </div>

                                                                        <div class="col-6">
                                                                            <label for="">Nombre des jours</label>
                                                                            <input type="number" name="nbjour" (change)="validationnbMonth($event)" [(ngModel)]="contract.nbjour" #nbjour="ngModel"  required class="form-control">
                                                                            <div *ngIf="nbjour.invalid && (nbjour.dirty || nbjour.touched)">
                                                                                <div *ngIf='nbjour.errors?.required'>
                                                                                    <small class="p-invalid" style="color: red;"> ce champs est obligatoire</small>
                                                                                </div>
                                                                            </div>
                                                                            <div *ngIf='nbjour.value<1'>
                                                                                <small class="p-invalid" style="color: red;">Vous devez louer au moin 1 jour</small>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="text-center">
                                                                        <button (click)="addRentalContrat()" type="submit" class="btn btn-primary"  >Confirmer</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>

                                            </p-dialog>
                                            <div style="padding: 50px;">
                                                <div *ngIf="show">
                                                    <div class="card" id="pdff" #pdf>
                                                        <h1>Contrat de location de voiture</h1>
                                                        <h2>ENTRE LES SOUSSIGNES,</h2>
                                                        <h3>Date début de contrat  : {{contratDetail?.datedebut}}</h3>
                                                        <h3>Date fin de contrat : {{contratDetail?.datefin}}</h3>
                                                        <h3>Nombre de jours : {{contratDetail?.nbjour}}</h3>
                                                        <h3>Prix : {{contratDetail?.prix}}</h3>
                                                        <h3>Pour : ............................</h3>
                                                    </div>
                                                    <div>
                                                        <button style="color: white;background-color: rgb(0, 255, 0); font-weight: bold;" (click)="loadPdfff()" class="btn btn-success">Télécharger</button>
                                                    </div>

                                                </div>
                                                <table class="table">
                                                    <thead class="table-dark-bg">
                                                    <tr>
                                                        <th scope="col">Détails de contrat</th>
                                                        <th scope="col">Facture</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody *ngFor="let item of contrats">
                                                    <tr>
                                                        <td>
                                                            <a href="javascript:void(0)" class="btn btn-dark" style="margin-left: 210px; background-color: #37afd4 ;color: white ;text-align:right;font-weight: bold" (click)="generatePDF(item)">
                                                                Détails<i class="bi bi-download"></i>
                                                            </a>
                                                        </td>

                                                        <td>
                                                            <button class="btn btn-dark" type="submit"  style="margin-left: 210px; background-color: #37afd4 ; color: white ;text-align:right;font-weight: bold"(click)="onClickTelechargerFacturePDF(reservation.reservid )"> Facture</button>
                                                        </td>


                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p-dialog>
                    </ng-template>

                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            Il y' a eu  {{reservations ? reservations.length : 0 }} Réservations.
                        </div>
                    </ng-template>
                </p-table>


        </div>
    </div>
</div>
