





<header>
    <div class="page-header min-vh-85">
        <div class="container">
            <div class="row">

                    <div class="card card-body blur text-md-start text-center px-sm-5 shadow-lg mt-sm-5 py-sm-5">
                        <h2 class="text-dark mb-0">Materclass location</h2>
                        <h2 class="text-dark mb-4">Choisir le meilleur</h2>
                        <p class="lead text-dark pe-md-5 me-md-5">
                            Masterclass cars de location vous offre une solution pratique,
                            économique et de confiance pour tous vos déplacements.
                        </p>
                        <div class="buttons">
                            <button type="button" class="btn btn-rounded bg-gradient-primary mt-4">Contact Us</button>
                            <button type="button" class="btn btn-rounded btn-outline-secondary mt-4 ms-2">Read More</button>
                        </div>
                        <div class="row flip-y mt-2">
                            <div class="col-md-2 col-8 p-0">
                                <img class="w-100" src="../assets/img/logos/gray-logos/kia.png" alt="logo">
                            </div>
                            <div class="col-md-2 col-8 p-0">
                                <img class="w-100" src="../assets/img/logos/gray-logos/merce.png" alt="logo">
                            </div>
                            <div class="col-md-2 col-6 p-0">
                                <img class="w-100" src="../assets/img/logos/gray-logos/jaguar.png" alt="logo">
                            </div>
                            <div class="col-md-2 col-6 p-0">
                                <img class="w-100" src="../assets/img/logos/gray-logos/bmw.png" alt="logo">
                            </div>
                            <div class="col-md-2 col-6 p-0">
                                <img class="w-100" src="../assets/img/logos/gray-logos/jeep.png" alt="logo">
                            </div>
                            <div class="col-md-2 col-6 p-0">
                                <img class="w-100" src="../assets/img/logos/gray-logos/nissan.png" alt="logo">
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</header>

<footer>
    <app-footer></app-footer>
</footer>
