.page-header {
  background-image: url(https://img.freepik.com/vecteurs-libre/phares-voiture-realistes-composition-ad-phares-eclairage-vert-violet_1284-56577.jpg?w=1060&t=st=1681629117~exp=1681629717~hmac=39c9ce2e9195641b95cdf5bcc2e361341709cad37d908cb9aef48cc67220f305);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #0d376f;
}

.bg-primary {
  background-color: #1E90FF;
}

.bg-opacity-50 {
  background-color: transparent !important;
}


