.container {
  margin-top: 120px;
  height: calc(100vh - 50px);
}
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 970px;
}

.dialog-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  max-width: 742px;
  max-height: 850px;
  width: 90%;

  h2 {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }

  p {
    margin: 5px 0;
  }

  button {
    margin-top: 20px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .close-button {
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
  margin-top: 20px;

}
th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}
th {
  background-color: #f7f7f7;
  font-weight: bold;
}
.table-dark-bg{
  background-color: #959ea9;
  color: black;
}
.max-height-vh-850 {
  max-height: 850px;
}
.max-height-vh-850 {
  max-height: 850px;
}

.max-width-vh-50 {
  max-width: 150%;
}

.max-width-vh-100 {
  max-width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.vehicle-item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.2s ease-in-out;
}
.vehicle-item {
  width: 370px;
}
.reservation-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.reservation-info .reservation-color {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 50%;
}

.cancelled-reservation .reservation-color {
  background-color: red;
}

.confirmed-reservation .reservation-color {
  background-color: green;
}

.cours-reservation .reservation-color {
  background-color: orange;
}

.termine-reservation .reservation-color {
  background-color: grey;
}

.reservation-frame {
  border: 0.1px solid #d7d9e1;
  padding: 10px;
  background-color: #d9edf7;
  color: #0d1226;
  margin-left: 150px;
  margin-right: -275px;
  margin-top: 20px;

}
