<div class="container">
    <div class="row">
        <div class="col-md-4" style="margin-left: -300px;">
            <div class="card max-height-vh-850 overflow-auto mb-5 mb-lg-0">
                <div class="card-body text-center">
                    <h3>Liste des Véhicules</h3>
                    <input type="text" [(ngModel)]="searchQuery" (input)="updateFilteredVehicles()" placeholder="chercher une véhicule" class="form-control mb-2" />

                    <div class="row">
                        <div class="col-md-8">
                            <ul class="list-unstyled">
                                <li *ngFor="let vehicle of filteredVehicles" (click)="redirectToReservation(vehicle.vehiculeId)" class="vehicle-item" style="cursor: pointer;">
                                    <div class="p-2 border mb-2">
                                        {{ vehicle.matricule }} - {{ vehicle.modele }}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="container mt-3">
                <ejs-schedule
                    #ejSchedule
                    height="850"
                    width="1400"
                    style="margin-left: -10px;"
                    [selectedDate]="selectedDate"
                    [eventSettings]="eventSettings"
                    (eventClick)="onReservationClick($event)"
                ></ejs-schedule>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isDialogVisible" class="dialog-overlay">
    <div #dialogContainer class="dialog-content">
        <div>
            <i id="closeButton" class="material-icons opacity-6 me-2 text-md" (click)="closeDialog()">cancel</i>
        </div>

        <h2 style="font-size: 20pt; font-weight: bold;  text-align: center; background-color: #4395cc; color: #fff; width: 100%;">Contrat {{ selectedReservation?.reservid }}</h2>

        <p><strong> Agent : </strong>{{ selectedReservation?.username }}</p>
        <p *ngIf="selectedReservation?.datedebut"><strong>Date début :</strong>  {{ selectedReservation?.datedebut | date: 'dd/MM/yyyy HH:mm' }}</p>
        <p *ngIf="selectedReservation?.datefin"><strong>Date fin :</strong>  {{ selectedReservation?.datefin | date: 'dd/MM/yyyy HH:mm' }}</p>
        <p><strong>Nombre de jours :</strong> {{ selectedReservation?.nbjour }} jour(s)</p>
        <p><strong>Prix : </strong>{{ selectedReservation?.prix |currency:'EUR':true}}</p>

        <h6 style="font-size: 15pt; font-weight: bold;  text-align: center; color: black; width: 100%;">Détails de la véhicule:</h6>
        <table class="table">
            <thead class="table-dark-bg" style="font-size: 9pt;">
            <tr>
        <th style="text-align: center;">Immatriculation</th>
        <th style="text-align: center;">Catégorie</th>
        <th style="text-align: center;">Modèle</th>
        <th style="text-align: center;">Nombre de places</th>
        <th style="text-align: center;">Charge utile</th>
            </tr>
            </thead>
            <tbody style="font-size: 9pt;">
            <tr>
                <td style="text-align: center;">{{ selectedReservation?.matricule}}</td>
                <td style="text-align: center;">{{ selectedReservation?.categorie}}</td>
                <td style="text-align: center;">{{ selectedReservation?.modele}}</td>
                <td style="text-align: center;">{{ selectedReservation?.nbrplaces}}</td>
                <td style="text-align: center;">{{ selectedReservation?.chargeutile}} Kg</td>
            </tr>
        </tbody>

        </table>

        <h6 style="font-size: 15pt; font-weight: bold;  text-align: center; color: black; width: 100%;">Détails de client   :</h6>

        <table class="table">
            <thead class="table-dark-bg" style="font-size: 9pt;">
            <tr>
                <th style="text-align: center;">Client</th>
                <th style="text-align: center;">Numéro de Permis</th>
            </tr>
            </thead>
            <tbody style="font-size: 9pt;">
            <tr>
                <td style="text-align: center;">{{ selectedReservation?.clientName}}  {{ selectedReservation?.clientSurname}}</td>
                <td style="text-align: center;">{{ selectedReservation?.clientPermis}}</td>
            </tr>
            </tbody>

        </table>

            <div>

        <div>
            <button style="background-color: #5eb762; margin-right: 10px;" (click)="openDialog(selectedReservation.reservid)">Faire le départ
                <i class="material-icons opacity-6 me-2 text-md">arrow_forward</i></button>

            <p-dialog header="" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [style]="{ 'width': '600px', 'height': '400px' }">
                <section>
                    <div class="content">

                            <div class="bg-light text-center rounded p-4">
                                <div class="text-center">
                                    <h2>Faire le départ </h2>
                                </div>
                                <form [formGroup]="timeForm">
                                    <label for="newStartTime">Heure de départ réel :</label>
                                    <input type="time" class="form-control" id="newStartTime" formControlName="newStartTime">
                                </form>
                                <button class="btn btn-primary" (click)="updateReservationTime()">Valider</button>
                            </div>
                    </div>
                </section>
            </p-dialog>

            <button style="background-color: #7986CB; margin-right: 10px;" (click)="openDialog2(selectedReservation.reservid)">Faire le retour
                <i class="material-icons opacity-6 me-2 text-md">arrow_back</i></button>
            <p-dialog header="" [(visible)]="displayDialog2" [modal]="true" [responsive]="true" [style]="{ 'width': '600px', 'height': '400px' }">
                <section>
                    <div class="content">
                            <div class="bg-light text-center rounded p-4">
                                <div class="text-center">
                                    <h2>Retour réel</h2>
                                </div>

                                <form [formGroup]="timeForm">
                                    <label for="newEndTime">Heure de retour réel :</label>
                                    <input type="time" class="form-control" id="newEndTime" formControlName="newEndTime">
                                </form>
                                <button class="btn btn-primary" (click)="updateReservationTimeTermine()">Valider</button>
                            </div>

                    </div>
                </section>
            </p-dialog>

            <button style="background-color: #e74c3c;margin-right: 10px;" (click)="onClickTelechargerContratPDF(selectedReservation.reservid )" >
                <i class="material-icons opacity-6 me-2 text-md">picture_as_pdf</i></button>

            <button style="background-color: #ffc261;margin-right: 10px;" (click)="onClickTelechargerFacturePDF(selectedReservation.reservid )">
                <i class="material-icons opacity-6 me-2 text-md">insert_drive_file</i>Facture</button>

            <button style="background-color: #e74c3c;margin-right: 10px;" (click)="deleteReservation(selectedReservation.reservid)">
                <i class="material-icons opacity-6 me-2 text-md">clear</i>Annuler Contrat</button>

        </div>
</div>
</div>

    </div>

