<div class="layout-dashboard">
    <div class="p-grid">

        <div class="p-col-12 p-md-6 p-xl-3">
            <div class="card no-gutter widget-overview-box widget-overview-box-3">
                            <span class="overview-icon">
                                <i class="pi pi-users"></i>
                            </span>
                <span class="overview-title">Utilisateurs</span>
                <div class="p-grid overview-detail">
                    <div class="p-col-6">
                        <div class="overview-number">{{userss.length}}</div>
                        <div class="overview-subtext">Registered</div>
                    </div>

                    </div>
            </div>
        </div>

        <div class="p-col-12 p-lg-4">
            <div class="card">
                <h4>Escouade administrative</h4>
                <p>Les administrateurs les plus actifs qui travaillent au sein de notre équipe</p>
                <ul class="widget-image-list">
                    <li *ngFor="let admin of admins">
        <span>
           <img src="assets/img/{{admin.profilPic}}" alt="diamond-layout"/>
          <span>{{admin.username}}</span>
        </span>
                    </li>
                </ul>
            </div>
        </div>


        <div class="p-grid table-demo">
            <div class="p-col-12">
                <div class="card">
                    <p-table #dt [value]="userss" [(selection)]="selectedCustomers1" dataKey="id"
                             styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
                             [filterDelay]="0" [globalFilterFields]="['username', 'email', 'birthDate','locked']">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <div>
                                    <button  pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openDialog()"></button>
                                </div>
                                <p-dialog header="Ajouter un utilisateur" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [style]="{ 'width': '600px', 'height': '600px' }">
                                    <div class="text-center">
                                        <h2></h2>
                                    </div>
                                    <section>
                                        <form role="form" #f="ngForm" (ngSubmit)="f.form.valid && register()">
                                            <div class="row justify-space-between text-center py-2">

                                                <div class="row">
                                                    <div class="alert alert-primary text-white font-weight-bold" role="alert" *ngIf="errorMessage">
                                                        {{errorMessage}}
                                                    </div>
                                                </div>
                                                <h5 class="card card-body border-0 shadow-lg rounded-lg bg-transparent animate__animated animate__fadeInRight login-form" style="color: grey;">
                                                    Veuillez spécifier le role
                                                </h5>
                                                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                                    <input type="radio" class="btn-check" name="role" id="role1" [(ngModel)]="middleRole" #role="ngModel" [value]="'USER'" autocomplete="off" *ngIf="currentUser?.role == 'ADMIN' || currentUser?.role == 'SUPERADMIN'">
                                                    <label class="btn btn-outline-dark" for="role1"><i class="pi pi-user"></i>&nbsp; AGENT</label>
                                                </div>
                                            </div>

                                            <h5 class="card card-body border-0 shadow-lg rounded-lg bg-transparent animate__animated animate__fadeInRight login-form" style="color: grey;">
                                                Informations personnelles
                                            </h5>

                                            <div class="input-container">
                                                <input type="email" id="email" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                                <label for="email" class="label">Email</label>
                                                <div class="underline"></div>
                                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
                                                    <div *ngIf="email.errors.required">Email is required.</div>
                                                    <div *ngIf="email.errors.pattern">Invalid email format.</div>
                                                </div>
                                            </div>
                                            <div class="input-container">
                                                <input type="date" id="birthDate" class="form-control" name="birthDate" [(ngModel)]="user.birthDate" #birthDate="ngModel" required>
                                                <label for="birthDate" class="label">Date d'enregistrement</label>
                                                <div class="underline"></div>
                                            </div>
                                            <div class="input-container">
                                                <input type="file" id="formFile" class="form-control" name="formFile" (change)="onFileSelcted($event)" required>
                                                <label for="formFile" class="label">Photo de profile</label>
                                                <div class="underline"></div>
                                            </div>
                                            <div class="row justify-space-between text-center py-2">
                                                <h5 class="card card-body border-0 shadow-lg rounded-lg bg-transparent animate__animated animate__fadeInRight login-form" style="color: grey;">
                                                    Spécifier l'agence
                                                </h5>
                                            </div>
                                            <div class="input-container">
                                                <select  type="select" id="agence" class="form-select" name="agence" [(ngModel)]="nomAgence" required [style]="{ 'width': '520px', 'height': '40px' }">
                                                    <option value="">Sélectionnez une agence</option>
                                                    <option *ngFor="let agence of listagence" [value]="agence.nom">{{ agence.nom }}</option>
                                                </select>
                                                <div class="underline"></div>
                                            </div>
                                            <div class="row justify-space-between text-center py-2">
                                                <h6 class="card card-body border-0 shadow-lg rounded-lg bg-transparent animate__animated animate__fadeInRight login-form" style="color: black;">
                                                    Informations de connexion
                                                </h6>
                                            </div>
                                            <div class="input-container">
                                                <input type="text" id="username" class="form-control" name="username" [(ngModel)]="user.username" #username="ngModel" required>
                                                <label for="username" class="label">Username</label>
                                                <div class="underline"></div>
                                            </div>

                                            <div class="input-container">
                                                <input type="password" id="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel" required>
                                                <label for="password" class="label">Mot de passe</label>
                                                <div class="underline"></div>
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary btn-lg w-100 mb-3 animate__animated animate__fadeInUp" [style]="{ 'width': '550px', 'height': '40px' }">Enregistrer</button>
                                            </div>
                                        </form>
                                    </section>
                                </p-dialog>

                                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                           placeholder="Global Search"/>
                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="name" style="width: 18rem">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Username
                                        <p-sortIcon field="name"></p-sortIcon>
                                        <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </th>

                                <th pSortableColumn="email" style="width: 20rem">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Email
                                        <p-sortIcon field="email"></p-sortIcon>
                                        <p-columnFilter type="text" field="email" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </th>

                                <th pSortableColumn="birthDate">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Date d'enregistrement
                                        <p-sortIcon field="birthDate"></p-sortIcon>
                                        <p-columnFilter type="date" field="birthDate" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="nomAgence">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Agence
                                        <p-sortIcon field="nomAgence"></p-sortIcon>
                                        <p-columnFilter type="text" field="nomAgence" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th pSortableColumn="locked">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        Status
                                        <p-sortIcon field="locked"></p-sortIcon>
                                        <p-columnFilter type="text" field="locked" display="menu" class="p-ml-auto"></p-columnFilter>
                                    </div>
                                </th>
                                <th style="width: 8rem"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-user>
                            <tr class="p-selectable-row">
                                <td>
                                    <img src="assets/img/{{user.profilPic}}" width="40" height="40"
                                         style="vertical-align: middle" class="profil-pic-round"/>
                                    <span class="p-column-title">Userame</span>
                                    {{user.username}}
                                </td>
                                <td>
                                    <span class="p-column-title">Email</span>
                                    <span class="image-text" style="margin-left: .5em;vertical-align: middle">{{user.email}}</span>
                                </td>
                                <td>
                                    <span class="p-column-title">Date d'enregistrement</span>
                                    <div >{{user.birthDate | date: 'MM/dd/yyyy'}}</div>
                                </td>
                                <td>
                                    <span class="p-column-title">Agence</span>
                                    <div >{{nomAgence}}</div>
                                </td>
                                <td>
                                    <span class="p-column-title">Status</span>
                                    <span *ngIf="user.locked" [class]="'customer-badge status-unqualified'">Locked</span>
                                    <span *ngIf="!user.locked" [class]="'customer-badge status-proposal'">Active</span>
                                </td>
                                <td style="text-align: center">
                                    <button *ngIf="!user.locked" pButton type="button" class="p-button-secondary" icon="pi pi-lock" (click)="lockUser(user.username)"></button>
                                    <button *ngIf="user.locked" pButton type="button" class="p-button-secondary" icon="pi pi-lock-open" (click)="unlockUser(user.username)"></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">Aucun utilisateur trouvé.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </div>



    </div>
</div>
