<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <p-toolbar styleClass="p-mb-4">

                <div class="p-col-6 p-md-6 p-xl-3">
                    <div class="card no-gutter widget-overview-box widget-overview-box-3">
                            <span class="overview-icon">
                                <i class="pi pi-user"></i>
                            </span>
                        <span class="overview-title">Réservations</span>
                        <div class="overview-detail">
                            <div class="p-col-6">
                                <div class="overview-number">{{reservations ? reservations.length : 0 }}</div>
                                <div class="overview-subtext">Enregistrés</div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-toolbar>

                <p-table #dt [value]="reservations" styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
                         styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
                         [filterDelay]="0" [globalFilterFields]="['reservid','datedebut', 'datefin', 'nbjour', 'prix']">

                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                            <h5 class="p-m-0">Gestion des réservations</h5>
                            <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                           placeholder="Global Search"/>
                            </span>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 4rem">
                            </th>
                            <th pSortableColumn="datedebut">Date début <p-sortIcon field="datedebut"></p-sortIcon></th>
                            <th pSortableColumn="datefin">Date fin<p-sortIcon field="datefin"></p-sortIcon></th>
                            <th pSortableColumn="nbjour">Nombre de jours<p-sortIcon field="nbjour"></p-sortIcon></th>
                            <th pSortableColumn="prix">Prix<p-sortIcon field="prix"></p-sortIcon></th>
                            <th pSortableColumn="prix">Details(revenues)<p-sortIcon field="prix"></p-sortIcon></th>
                            <th pSortableColumn="contrat">Contrat<p-sortIcon field="contrat"></p-sortIcon></th>
                            <th pSortableColumn="facture">Facture<p-sortIcon field="facture"></p-sortIcon></th>
                            <th pSortableColumn="prix">Annulation<p-sortIcon field="prix"></p-sortIcon></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-reservation>
                        <tr>
                            <td>
                            </td>
                            <td><span class="p-column-title"></span>
                                {{reservation.datedebut}}
                            </td>
                            <td><span class="p-column-title"></span>
                                {{reservation.datefin}}
                            </td>
                            <td><span class="p-column-title"></span>
                                {{reservation.nbjour}}
                            </td>
                            <td><span class="p-column-title"></span>
                                {{reservation.prix}}
                            </td>
                            <td>
                                <i class="material-icons opacity-6 me-2 text-md" (click)="openDialog(reservation.vehiculeReservation)">remove_red_eye</i>
                            </td>
                            <td>
                                <a class="material-icons opacity-6 me-2 text-md" (click)="onClickTelechargerContratPDF(reservation.reservid )" >content_paste</a>
                            </td>
                            <td>
                                <i class="material-icons opacity-6 me-2 text-md" (click)="onClickTelechargerFacturePDF(reservation.reservid )">insert_drive_file</i>
                            </td>
                            <td >
                                <button pButton pRipple icon="pi pi-trash" (click)="deleteReservation(reservation.reservid)" type="button" class="p-button-rounded p-button-danger"></button>
                            </td>
                        </tr>
                            <p-dialog header="Revenues pour cette véhicule" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [style]="{ 'width': '600px', 'height': '280px' }">
                                <div class="content">
                                    <div class="card">
                                        <div class="container-fluid pt-4 px-4">
                                            <div class="row g-4">
                                                <div class="col-sm-6 col-xl-3">
                                                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                                        <h3 class="mb-2">Revenues</h3>
                                                        <div>
                                                        <i class="fa fa-chart-line fa-3x text-primary"></i>
                                                        <h4 class="mb-0" >${{ revenu }}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p-dialog>
                    </ng-template>

                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            Il y' a eu  {{reservations ? reservations.length : 0 }} Réservations.
                        </div>
                    </ng-template>
                </p-table>


        </div>
    </div>
</div>
