<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <p-toolbar styleClass="p-mb-4">

                <div class="p-col-6 p-md-6 p-xl-3">
                    <div class="card no-gutter widget-overview-box widget-overview-box-3">
                            <span class="overview-icon">
                                <i class="pi pi-user"></i>
                            </span>
                        <span class="overview-title">Agences</span>
                        <div class="overview-detail">
                            <div class="p-col-6">
                                <div class="overview-number">{{allUsers.length}}</div>
                                <div class="overview-subtext">Enregistrés</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-lg-4">
                    <div class="card">
                        <h4>Les agences les plus actives</h4>
                        <p>Les agences les plus actives qui travaillent au sein de réseau</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Agences par type</h5>
                            <canvas #pieChart></canvas>
                    </div>
                </div>



            </p-toolbar>
            <p-toolbar styleClass="p-mb-4">

                <div>
                    <button  pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openDialog()"></button>
                </div>

                <p-dialog header="Ajouter une agence" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [style]="{ 'width': '600px', 'height': '600px' }">
                    <div class="text-center">
                        <h2></h2>
                    </div>
                    <section>
                        <form role="form" #f="ngForm" (ngSubmit)="f.form.valid && addAgence()">
                            <div class="row justify-space-between text-center py-2">
                            <div class="row">
                                <div class="alert alert-primary text-white font-weight-bold" role="alert" *ngIf="errorMessage">
                                    {{errorMessage}}
                                </div>
                            </div>
                                <div class="input-container">
                                    <input type="text" id="nom" class="form-control" name="nom" [(ngModel)]="newAgence.nom" #nom="ngModel" required>
                                    <label for="nom" class="label">Nom d'agence</label>
                                    <div class="underline"></div>
                                </div>
                                <div class="input-container">
                                    <input type="text" id="numero" class="form-control" name="numero" [(ngModel)]="newAgence.numero" #numero="ngModel" required>
                                    <label for="numero" class="label">Numéro de téléphone</label>
                                    <div class="underline"></div>
                                </div>
                                <div class="input-container">
                                    <input type="text" id="adresse" class="form-control" name="adresse" [(ngModel)]="newAgence.adresse" #adresse="ngModel" required>
                                    <label for="adresse" class="label">Adresse</label>
                                    <div class="underline"></div>
                                </div>
                                <div class="input-container">
                                    <input type="email" id="email" class="form-control" name="email" [(ngModel)]="newAgence.email" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                    <label for="email" class="label">Email</label>
                                    <div class="underline"></div>
                                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
                                        <div *ngIf="email.errors.required">Email Manquant</div>
                                        <div *ngIf="email.errors.pattern">Format de l'email non valide</div>
                                    </div>
                                </div>

                                <div class="input-container">
                                    <select id="typeagence" [(ngModel)]="newAgence.typeagence" name="typeagence" class="form-control" #typeagence="ngModel" required [style]="{ 'width': '520px', 'height': '40px' }">
                                        <option value="" >Choisissez le type d'agence</option>
                                        <option value="normale">Ordinaire</option>
                                        <option value="franchise">Franchise</option>
                                    </select>
                                    <div class="underline"></div>
                                </div>
                                <div class="input-container">
                                    <input type="text" id="jourtravail" class="form-control" name="jourtravail" [(ngModel)]="newAgence.jourtravail" #jourtravail="ngModel" required>
                                    <label for="jourtravail" class="label">Jours de travail (De ... à)</label>
                                    <div class="underline"></div>
                                </div>

                                <div class="input-container">
                                    <input type="text" id="description" class="form-control" name="description" [(ngModel)]="newAgence.description" #description="ngModel" required>
                                    <label for="description" class="label">Description</label>
                                    <div class="underline"></div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg w-100 mb-3 animate__animated animate__fadeInUp" [style]="{ 'width': '550px', 'height': '40px' }">Enregistrer</button>
                            </div>
                        </form>
                    </section>
                </p-dialog>


                <ng-template pTemplate="right">
                </ng-template>
            </p-toolbar>
            <p-table #dt [value]="listagence" styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
                     styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
                     [filterDelay]="0" [globalFilterFields]="['nom', 'numero', 'email', 'adresse', 'jourtravail', 'description', 'typeagence']">>

                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Gestion des agences</h5>
                        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                           placeholder="Global Search"/>
                </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                        </th>
                        <th pSortableColumn="name">Nom d'agence <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="numero">Numéro de téléphone <p-sortIcon field="numero"></p-sortIcon></th>
                        <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="adresse">Adresse<p-sortIcon field="adresse"></p-sortIcon></th>
                        <th pSortableColumn="jourtravail">Jours de travail<p-sortIcon field="jourtravail"></p-sortIcon></th>
                        <th pSortableColumn="description">Détails<p-sortIcon field="description"></p-sortIcon></th>
                        <th pSortableColumn="type">Type d'agence<p-sortIcon field="type"></p-sortIcon></th>
                        <th pSortableColumn="locked">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Status
                                <p-sortIcon field="locked"></p-sortIcon>
                                <p-columnFilter type="text" field="locked" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th>Bloquer/Debloquer</th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-newAgence  >
                    <tr>
                        <td>
                        </td>
                        <td><span class="p-column-title"></span>
                            {{newAgence.nom}}
                        </td>
                        <td><span class="p-column-title"></span>
                            {{newAgence.numero}}
                        </td>
                        <td><span class="p-column-title"></span>
                            {{newAgence.email}}
                        </td>
                        <td><span class="p-column-title"></span>
                            {{newAgence.adresse}}
                        </td>
                        <td><span class="p-column-title"></span>
                            {{newAgence.jourtravail}}
                        </td>
                        <td><span class="p-column-title"></span>
                            {{newAgence.description}}
                        </td>
                        <td><span class="p-column-title"></span>
                            {{newAgence.typeagence}}
                        </td>
                        <td>
                            <span *ngIf="newAgence.locked" [class]="'customer-badge status-unqualified'">Bloquée</span>
                            <span *ngIf="!newAgence.locked" [class]="'customer-badge status-proposal'">Active</span>
                        </td>
                        <td style="text-align: center">
                            <button *ngIf="!newAgence.locked" pButton type="button" class="p-button-secondary" icon="pi pi-lock" (click)="blockAgence(newAgence.nom)"></button>
                            <button *ngIf="newAgence.locked" pButton type="button" class="p-button-secondary" icon="pi pi-lock-open" (click)="deblockAgence(newAgence.nom)"></button>
                        </td>
                    </tr>
                </ng-template>


                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Il y' a eu  {{listagence ? listagence.length : 0 }} Agence.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>



