<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <p-toolbar styleClass="p-mb-4">

                <div class="p-col-6 p-md-6 p-xl-3">
                    <div class="card no-gutter widget-overview-box widget-overview-box-3">
                            <span class="overview-icon">
                                <i class="pi pi-user"></i>
                            </span>
                        <span class="overview-title">Vehicules</span>
                        <div class="overview-detail">
                            <div class="p-col-6">
                                <div class="overview-number">{{allAgences.length}}</div>
                                <div class="overview-subtext">Enregistrés</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-lg-4">
                    <div class="card">
                        <h4>Les vehicules les plus actives</h4>
                        <p>Les vehicules les plus actives qui travaillent au sein de réseau</p>
                    </div>
                </div>

            </p-toolbar>
            <p-table
                #dt
                [value]="listvehicule"
                styleClass="p-datatable-customers"
                [rowHover]="true"
                [rows]="10"
                [paginator]="true"
                [filterDelay]="0"
                [globalFilterFields]="['matricule', 'nbr_places', 'couleur', 'longueur', 'largeur', 'puissance', 'typeagence', 'description', 'charge_utile', 'dateajout']">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Gestion des véhicules</h5>
                        <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search"/>
            </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th pSortableColumn="matricule">Matricule<p-sortIcon field="matricule"></p-sortIcon></th>
                        <th pSortableColumn="nbrplaces">Nombre de places<p-sortIcon field="nbr_places"></p-sortIcon></th>
                        <th pSortableColumn="couleur">Couleur<p-sortIcon field="couleur"></p-sortIcon></th>
                        <th pSortableColumn="longueur">Longueur<p-sortIcon field="longueur"></p-sortIcon></th>
                        <th pSortableColumn="largeur">Largeur<p-sortIcon field="largeur"></p-sortIcon></th>
                        <th pSortableColumn="puissance">Puissance<p-sortIcon field="puissance"></p-sortIcon></th>
                        <th pSortableColumn="chargeutile">Charge utile<p-sortIcon field="charge_utile"></p-sortIcon></th>
                        <div class="p-d-flex p-jc-between p-ai-center">
                            Date d'ajout
                            <p-sortIcon field="dateajout"></p-sortIcon>
                            <p-columnFilter type="date" field="dateajout" display="menu" class="p-ml-auto"></p-columnFilter>
                        </div>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-vehicule let-colIndex="index">
                    <tr>
                        <td></td>
                        <td>{{ vehicule.matricule }}</td>
                        <td>{{ vehicule.nbr_places }}</td>
                        <td>{{ vehicule.couleur }}</td>
                        <td>{{ vehicule.longueur }}</td>
                        <td>{{ vehicule.largeur }}</td>
                        <td>{{ vehicule.puissance }}</td>
                        <td>{{ vehicule.charge_utile }}</td>
                        <td>{{ vehicule.dateajout | date: 'MM/dd/yyyy'}}</td>
                        <td>
                            <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-mr-2"></button>
                            <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loading">
                    <tr>
                        <td colspan="10">
                            <div class="p-d-flex p-ai-center p-jc-center">
                                <p-progressSpinner></p-progressSpinner>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Il y' a eu  {{listvehicule ? listvehicule.length : 0 }} Vehicule.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>



