<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <p-toolbar styleClass="p-mb-4">

                <div class="p-col-6 p-md-6 p-xl-3">
                    <div class="card no-gutter widget-overview-box widget-overview-box-3">
                            <span class="overview-icon">
                                <i class="pi pi-user"></i>
                            </span>
                        <span class="overview-title">Vehicules</span>
                        <div class="overview-detail">
                            <div class="p-col-6">
                                <div class="overview-number">{{allAgences.length}}</div>
                                <div class="overview-subtext">Enregistrés</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-lg-4">
                    <div class="card">
                        <h4>Les vehicules les plus actives</h4>
                        <p>Les vehicules les plus actives qui travaillent au sein de réseau</p>
                    </div>
                </div>
            </p-toolbar>

                <div>
                    <button  pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openDialog()"></button>
                </div>

                <p-dialog header="Ajouter une véhicule" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [style]="{ 'width': '600px', 'height': '600px' }">
                    <div class="text-center">
                        <h2></h2>
                    </div>
                    <section>
                        <form role="form" #f="ngForm" (ngSubmit)="f.form.valid && addVehicule()">
                            <div class="row justify-space-between text-center py-2">
                                <div class="row">
                                    <div class="alert alert-primary text-white font-weight-bold" role="alert" *ngIf="errorMessage">
                                        {{errorMessage}}
                                    </div>
                                </div>

                                <div class="row justify-space-between text-center py-2">
                                    <h5 class="card card-body border-0 shadow-lg rounded-lg bg-transparent animate__animated animate__fadeInRight login-form" style="color: grey;">
                                        Spécifier l'agence
                                    </h5>
                                </div>

                                <div class="input-container">
                                    <select  type="select" id="agence" class="form-select" name="agence" [(ngModel)]="nomAgence" required [style]="{ 'width': '520px', 'height': '40px' }">
                                        <option value="">Sélectionnez une agence</option>
                                        <option *ngFor="let agence of listagence" [value]="agence.nom">{{ agence.nom }}</option>
                                    </select>
                                    <div class="underline"></div>
                                </div>

                                <div class="input-container">
                                    <input type="text" id="matricule" class="form-control" name="matricule" [(ngModel)]="vehicule.matricule" #matricule="ngModel" required>
                                    <label for="matricule" class="label">Matricule</label>
                                    <div class="underline"></div>
                                </div>

                                <div class="input-container">
                                    <input type="text" id="modele" class="form-control" name="modele" [(ngModel)]="vehicule.modele" #modele="ngModel" required>
                                    <label for="modele" class="label">Modèle</label>
                                    <div class="underline"></div>
                                </div>
                                <div class="input-container">
                                    <input type="text" id="nbrplaces" class="form-control" name="nbr_places" [(ngModel)]="vehicule.nbrplaces" #nbrplaces="ngModel" required>
                                    <label for="nbrplaces" class="label">Nombre de places</label>
                                    <div class="underline"></div>
                                </div>
                                <div class="input-container">
                                    <input type="text" id="couleur" class="form-control" name="couleur" [(ngModel)]="vehicule.couleur" #couleur="ngModel" required>
                                    <label for="couleur" class="label">Couleur</label>
                                    <div class="underline"></div>
                                </div>

                                <div class="input-container">
                                    <input type="text" id="longueur" class="form-control" name="longueur" [(ngModel)]="vehicule.longueur" #longueur="ngModel" required>
                                    <label for="longueur" class="label">Longueur(m)</label>
                                    <div class="underline"></div>
                                </div>

                                <div class="input-container">
                                    <input type="text" id="largeur" class="form-control" name="largeur" [(ngModel)]="vehicule.largeur" #largeur="ngModel" required>
                                    <label for="largeur" class="label">Largeur(m)</label>
                                    <div class="underline"></div>
                                </div>

                                <div class="input-container">
                                    <input type="text" id="puissance" class="form-control" name="puissance" [(ngModel)]="vehicule.puissance" #puissance="ngModel" required>
                                    <label for="puissance" class="label">Puissance(chevaux)</label>
                                    <div class="underline"></div>
                                </div>

                                <div class="input-container">
                                    <input type="text" id="chargeutile" class="form-control" name="charge_utile" [(ngModel)]="vehicule.chargeutile" #chargeutile="ngModel" required>
                                    <label for="chargeutile" class="label">Charge utile(Kg)</label>
                                    <div class="underline"></div>
                                </div>

                                <div class="input-container">
                                    <input type="date" id="dateajout" class="form-control" name="dateajout" [(ngModel)]="vehicule.dateajout" #dateajout="ngModel" required>
                                    <label for="dateajout" class="label">Date d'enregistrement</label>
                                    <div class="underline"></div>
                                </div>

                                <div class="input-container">
                                    <input type="text" id="prix" class="form-control" name="prix" [(ngModel)]="vehicule.prix" #prix="ngModel" required>
                                    <label for="prix" class="label">Prix(euro)</label>
                                    <div class="underline"></div>
                                </div>

                                <div class="input-container">
                                    <select id="alimentation" [(ngModel)]="vehicule.alimentation" name="alimentation" class="form-control" #alimentation="ngModel" required [style]="{ 'width': '520px', 'height': '40px' }">
                                        <option value="" >Choisissez le type d'alimentation</option>
                                        <option value="essance">Essance</option>
                                        <option value="diesel">Diesel</option>
                                        <option value="electrique">Electrique</option>
                                    </select>
                                    <div class="underline"></div>
                                </div>

                                <div class="input-container">
                                    <select id="categorie" [(ngModel)]="vehicule.categorie" name="categorie" class="form-control" #categorie="ngModel" required [style]="{ 'width': '520px', 'height': '40px' }">
                                        <option value="" >Choisissez la Categorie</option>
                                        <option value="LOCATION_VOITURE">voiture</option>
                                        <option value="LOCATION_UTILITAIRE">utilitaire</option>
                                    </select>
                                    <div class="underline"></div>
                                </div>

                                <div class="input-container">
                                    <select id="typeUtilitaire" [(ngModel)]="vehicule.typeUtilitaire" name="typeUtilitaire" class="form-control" #typeUtilitaire="ngModel" required [style]="{ 'width': '520px', 'height': '40px' }"[disabled]="vehicule.categorie === 'LOCATION_VOITURE'">
                                        <option value="" >Choisissez la type Categorie</option>
                                        <option value="voiture_société">Voiture société</option>
                                        <option value="utilitaire_3m3">Utilitaire 3m3</option>
                                        <option value="utilitaire_4m3">Utilitaire 4m3</option>
                                        <option value="utilitaire_6m3">Utilitaire 6m3</option>
                                        <option value="utilitaire_7m3">Utilitaire 7m3</option>
                                        <option value="utilitaire_8m3">Utilitaire 8m3</option>
                                        <option value="utilitaire_12m3">Utilitaire 12m3</option>
                                        <option value="utilitaire_15m3">Utilitaire 15m3</option>
                                        <option value="utilitaire_20m3">Utilitaire 20m3</option>
                                        <option value="utilitaire_20m3_avec_hayon">Utilitaire 20m3 avec hayon</option>
                                        <option value="utilitaire_25m3">Utilitaire 25m3</option>
                                        <option value="utilitaire_30m3">Utilitaire 30m3</option>
                                        <option value="poids_lourd">Poids lourd</option>
                                        <option value="benne_basculante">Benne basculante</option>
                                        <option value="camion_plateau_ridelles">Camion avec benne paysagiste</option>
                                        <option value="camion_pupitre">Camion pupitre</option>
                                        <option value="camion_plateau">Camion plateau</option>
                                        <option value="remorque_porte_voiture">Remorque porte voiture</option>
                                        <option value="camion_plateau_ridelles">Camion plateau ridelles</option>
                                        <option value="remorque_porte_moto_ou_quad">Remorque porte moto ou quad</option>
                                    </select>
                                    <div class="underline"></div>
                                </div>

                                <div class="input-container">
                                    <select id="typeVoiture" [(ngModel)]="vehicule.typeVoiture" name="typeVoiture" class="form-control" #typeVoiture="ngModel" required [style]="{ 'width': '520px', 'height': '40px' }"[disabled]="vehicule.categorie !== 'LOCATION_VOITURE'">
                                        <option value="" >Choisissez la type Categorie</option>
                                        <option value="economique">Economique</option>
                                        <option value="citadine">Citadine</option>
                                        <option value="affaire">Affaire</option>
                                        <option value="affaireplus">Affaire+</option>
                                        <option value="confort">Confort</option>
                                        <option value="confortplus">Confort +</option>
                                        <option value="berline">Berline</option>
                                        <option value="berlineplus">Berline + </option>
                                        <option value="septplaces">7 places</option>
                                        <option value="mini_bus">Mini bus</option>
                                        <option value="mini_bus_prestige">Mini bus prestige</option>
                                        <option value="tendance">Tendance</option>
                                        <option value="prestige">Prestige</option>
                                        <option value="Classe_G">Classe_G</option>
                                    </select>
                                    <div class="underline"></div>
                                </div>

                                <div class="input-container">
                                    <input type="file" id="formFile" class="form-control" name="formFile" (change)= "onFileSelcted($event)" required>
                                    <label for="formFile" class="label">Image</label>
                                    <div class="underline"></div>
                                </div>

                                <div class="input-container">
                                    <input type="text" id="description" class="form-control" name="description" [(ngModel)]="vehicule.description" #description="ngModel" required>
                                    <label for="description" class="label">Description</label>
                                    <div class="underline"></div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg w-100 mb-3 animate__animated animate__fadeInUp" [style]="{ 'width': '550px', 'height': '40px' }">Enregistrer</button>
                            </div>
                        </form>
                    </section>
                </p-dialog>
            <p-table
                #dt
                [value]="listvehicule"
                styleClass="p-datatable-customers"
                [rowHover]="true"
                [rows]="10"
                [paginator]="true"
                [filterDelay]="0"
                [globalFilterFields]="['matricule', 'nbrplaces', 'couleur', 'longueur', 'largeur', 'puissance',
                 'typeagence', 'description', 'chargeutile', 'dateajout', 'prix', 'alimentation', 'categorie','modele']">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Gestion des véhicules</h5>
                        <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search"/>
            </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th pSortableColumn="matricule">Matricule<p-sortIcon field="matricule"></p-sortIcon></th>
                        <th pSortableColumn="modele">Modèle<p-sortIcon field="modele"></p-sortIcon></th>
                        <th pSortableColumn="nbrplaces">Nombre de places<p-sortIcon field="nbrplaces"></p-sortIcon></th>
                        <th pSortableColumn="couleur">Couleur<p-sortIcon field="couleur"></p-sortIcon></th>
                        <th pSortableColumn="longueur">Longueur<p-sortIcon field="longueur"></p-sortIcon></th>
                        <th pSortableColumn="largeur">Largeur<p-sortIcon field="largeur"></p-sortIcon></th>
                        <th pSortableColumn="puissance">Puissance<p-sortIcon field="puissance"></p-sortIcon></th>
                        <th pSortableColumn="chargeutile">Charge utile<p-sortIcon field="charge_utile"></p-sortIcon></th>
                        <th pSortableColumn="dateajout">Date d'ajout<p-sortIcon field="dateajout" type="date"></p-sortIcon></th>
                        <th pSortableColumn="prix">Prix<p-sortIcon field="prix"></p-sortIcon></th>
                        <th pSortableColumn="alimentation">Alimentation<p-sortIcon field="alimentation"></p-sortIcon></th>
                        <th pSortableColumn="categorie">Categorie<p-sortIcon field="categorie"></p-sortIcon></th>
                        <th>
                        </th>
                        <th pSortableColumn="locked">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Status
                                <p-sortIcon field="locked"></p-sortIcon>
                                <p-columnFilter type="text" field="locked" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-vehicule>
                    <tr>
                        <td></td>
                        <td>
                            <img src="assets/img/vehicule/{{vehicule.picture}}" width="40" height="40"
                                 style="vertical-align: middle" class="profil-pic-round"/>
                            {{vehicule.matricule}}
                        </td>
                        <td>{{ vehicule.modele }}</td>
                        <td>{{ vehicule.nbrplaces }}</td>
                        <td>{{ vehicule.couleur }}</td>
                        <td>{{ vehicule.longueur }}</td>
                        <td>{{ vehicule.largeur }}</td>
                        <td>{{ vehicule.puissance }}</td>
                        <td>{{ vehicule.chargeutile }}</td>
                        <td>{{ vehicule.dateajout | date: 'dd-MM-yyyy'}}</td>
                        <td>{{ vehicule.prix }}</td>
                        <td>{{ vehicule.alimentation }}</td>
                        <td>{{ vehicule.categorie }}</td>
                        <td>
                        </td>
                        <td>
                            <span *ngIf="vehicule.locked" [class]="'customer-badge status-unqualified'">Bloquée</span>
                            <span *ngIf="!vehicule.locked" [class]="'customer-badge status-proposal'">Active</span>
                        </td>
                        <td style="text-align: center">
                            <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-mr-2"></button>
                            <button *ngIf="!vehicule.locked" pButton type="button" class="p-button-secondary" icon="pi pi-lock" (click)="blockVehicule(vehicule.matricule)"></button>
                            <button *ngIf="vehicule.locked" pButton type="button" class="p-button-secondary" icon="pi pi-lock-open" (click)="deblockVehicule(vehicule.matricule)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loading">
                    <tr>
                        <td colspan="10">
                            <div class="p-d-flex p-ai-center p-jc-center">
                                <p-progressSpinner></p-progressSpinner>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Il y' a eu  {{listvehicule ? listvehicule.length : 0 }} Vehicule.
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>



