

<div class="custom-containers">
</div>

<br class="custom-br">
<br class="custom-br">
<div class="custom-container">
  <div class="center-text">
    <h6>Découvrez la sélection de voitures en location</h6>
  </div>
</div>
<br class="custom-br">
<br class="custom-br">
<br class="custom-br">
<div class="row mt-4 d-flex justify-content-center">
  <div class="col-4" *ngFor="let vehicule of voitureVehicules | filter:searchText">
    <div class="card">
      <div class="image-container">
        <img style="width: 290px; height: 200px; cursor: pointer;" src="assets/img/vehicule/{{ vehicule.picture }}" alt="Image Size 100x100" (click)="getVehiculesByLocationVoiture()">
      </div>
      <h5 class="center-text">{{ vehicule.typeVoiture }}</h5>
      <p class="center-text">{{ vehicule.description }}</p>
      <button (click)="detail(vehicule)" style="width: 600px" type="submit" class="btn btn-primary">
        Obtenir un prix
      </button>
    </div>
  </div>
</div>

