


<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="card">
  <div class="center-text">
    <h1 class="mt-3 mb-3">Liste des véhicules</h1>
  </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-3" *ngFor="let i of list | filter:searchText">
      <div class="card">
        <div class="card-body">
          <div class="image-container">
            <!-- <img src="assets/images/{{ i.picture }}" class="card-img-top" alt="{{ i.title }}"class="my-image"> -->
            <img style="width: 290px; height: 200px; cursor: pointer;" src="assets/img/{{ i.picture }}" alt="Image Size 100x100" (click)="detail(i)">
          </div>
          <h5 class="center-text">{{ i.matricule }}</h5>
          <p class="card-text">{{ i.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
