<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<div class="content">
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="card">
                <div class="center-text">
                    <h3 class="mt-3 mb-3"> List des réservations</h3>
                </div>
            </div>
            <div style="text-align:right; padding-bottom: 30px;"> <button class="table-dark-bg" type="button"(click)="goToAdd()" class="btn btn-dark" style="color: white;background-color: #3092b0; font-weight: bold;">
                Réserver</button>
            </div>
            <div style="padding: 50px;">
              <div *ngIf="show">
                <div class="card" id="pdff" #pdf>
                  <h1>Contrat de location de voiture</h1>
                    <h3>Client : {{contratDetail?.client}}</h3>
                    <h3>Date début de contrat  : {{contratDetail?.datedebut}}</h3>
                    <h3>Date fin de contrat : {{contratDetail?.datefin}}</h3>
                    <h3>Nombre de jours : {{contratDetail?.nbjour}}</h3>
                    <h3>Prix : {{contratDetail?.prix}}</h3>
                </div>
                <div>
                  <button style="margin-top: 10px; margin-bottom: 10px;" (click)="loadPdfff()" class="btn btn-success">Télécharger</button>
                </div>

              </div>
                <table class="table">
                    <thead class="table-dark-bg">
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Date début</th>
                        <th scope="col">Date fin</th>
                        <th scope="col">Status de reservation</th>
                        <th scope="col">Détails de contrat</th>
                          <th scope="col">Aller simple</th>
                          <th scope="col">Retour simple</th>

                      </tr>
                    </thead>
                    <tbody *ngFor="let item of contrats">
                      <tr>
                        <td>{{item.reservid}}</td>
                        <td>{{item.prix}}</td>
                        <td>{{item.datedebut}}</td>
                        <td>{{item.datefin}}</td>
                          <td>{{item.reservationStatus}}</td>

                          <td>
                              <a href="javascript:void(0)" class="btn btn-primary" style="margin-left: 5px;" (click)="generatePDF(item)">
                                  <i class="bi bi-download"></i>
                              </a>
                          </td>
                          <div>
                              <a  class="btn btn-primary" style="margin-left: 5px;"  (click)="openDialog(item.reservid)"></a>
                          </div>

                          <p-dialog header="" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [style]="{ 'width': '600px', 'height': '600px' }">
                              <section>
                              <div class="content">
                                  <div class="container" style="margin-top: 20px;">
                                      <div class="bg-light text-center rounded p-4">
                              <div class="text-center">
                                  <h2>Aller simple</h2>
                              </div>

                                  <div class="form-group">
                                      <label for="newStartHour">Heure d'aller réel' :</label>
                                      <input type="number" class="form-control" id="newStartHour" [(ngModel)]="newStartHour">
                                  </div>
                                  <div class="form-group">
                                      <label for="newStartMinute">Minute d'aller réel' :</label>
                                      <input type="number" class="form-control" id="newStartMinute" [(ngModel)]="newStartMinute">
                                  </div>
                                  <button class="btn btn-primary" (click)="updateReservationTime()">Valider !</button>
                                      </div>
                                  </div>
                              </div>
                              </section>
                          </p-dialog>

                          <td>
                          <a class="btn btn-primary" style="margin-left: 5px;" (click)="openDialog2(item.reservid)"></a>
                          </td>
                          <p-dialog header="" [(visible)]="displayDialog2" [modal]="true" [responsive]="true" [style]="{ 'width': '600px', 'height': '600px' }">
                              <section>
                                  <div class="content">
                                      <div class="container" style="margin-top: 20px;">
                                          <div class="bg-light text-center rounded p-4">
                                              <div class="text-center">
                                                  <h2>Retour simple</h2>
                                              </div>

                                              <div class="form-group">
                                                  <label for="newEndHour">Heure de retour réel :</label>
                                                  <input type="number" class="form-control" id="newEndHour" [(ngModel)]="newEndHour">
                                              </div>
                                              <div class="form-group">
                                                  <label for="newEndMinute">Minute de retour réel :</label>
                                                  <input type="number" class="form-control" id="newEndMinute" [(ngModel)]="newEndMinute">
                                              </div>
                                              <button class="btn btn-primary" (click)="updateReservationTimeTermine()">Valider !</button>
                                          </div>
                                      </div>
                                  </div>
                              </section>
                          </p-dialog>
                      </tr>
                    
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

