.center-text {
    text-align: center;
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.image-container:hover img {
    transform: scale(1.1);
}

.image-container:hover .action-buttons {
    display: flex;
}

.action-buttons {
    display: none;
    justify-content: flex-end;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: all 0.3s ease;
}

.action-buttons button {
    width: 100%;
    transform: scale(1);
    transition: all 0.3s ease;
}

.action-buttons button:hover {
    transform: scale(1.1);
}



.custom-container {
    /*background-color: #757575;*/
    max-width: 2000px;
    margin: auto;
}
.custom-containers {
    /*background-color: #757575;*/
    max-width: 2000px;
    margin: auto;
}

.card {
    width: 600px;
    height: 400px;
    margin: 10px;
    /*background-color: #BDBDBD;*/
}
.custom-button {
    background-color: #D7CCC8;
}

.custom-containers {
    position: relative;
    height: 780px;
    overflow: hidden;
}

.custom-containers::before,
.custom-containers::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: carousel 10s infinite;
}

.custom-containers::after {
    background-image: url("C:\Users\khoubaib\Desktop\CarRentalFront\src\assets\img\2.jpg");
    animation-delay: 5s;
}
.custom-containers::before {
    background-image: url("C:\Users\khoubaib\Desktop\CarRentalFront\src\assets\img\4.jpg");
    animation-delay: 10s;
}

@keyframes carousel {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.table-dark-bg{

    background-color: #3092b0;
    color: white;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-with-margin {
    margin-left: 30px;
}

.btn-with-margin {
    margin-left: 1050px;
}

.selected-row {
    background-color: #3092b0;
    color: white;
    cursor: pointer;
}
tr:hover {
    background-color: #3092b0;
    color: white;
    cursor: pointer;
}

.custom-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
}

.custom-dialog-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1700px;
    height: 300px;
    background-color: white;
    z-index: 9999;
    border-radius: 5px;
    padding: 20px;
}
