

<div class="custom-containers">
  </div>

<br class="custom-br">
<br class="custom-br">
<div class="custom-container">
  <div class="center-text">
    <h6>Découvrez la sélection de véhicules utilitaires en location</h6>
  </div>
</div>
<br class="custom-br">
<br class="custom-br">
<br class="custom-br">
  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-4" *ngFor="let vehicule of utilitaireVehicules | filter:searchText">
      <div class="card">
        <div class="image-container">
          <img style="width: 290px; height: 200px; cursor: pointer;" src="assets/img/vehicule/{{ vehicule.picture }}" alt="Image Size 100x100" (click)="getVehiculesByLocationUtilitaire()">
        </div>
        <h5 class="center-text">{{ vehicule.typeUtilitaire === 'voiture_société' ? 'Location voiture société'
                : vehicule.typeUtilitaire=== 'utilitaire_3m3' ? 'Location utilitaire 3m3'
                        : vehicule.typeUtilitaire=== 'utilitaire_4m3' ? 'Location utilitaire 4m3'
                                : vehicule.typeUtilitaire=== 'utilitaire_6m3' ? 'Location utilitaire 6m3'
                                        : vehicule.typeUtilitaire=== 'utilitaire_7m3' ? 'Location utilitaire 7m3'
                                                : vehicule.typeUtilitaire=== 'utilitaire_8m3' ? 'Location utilitaire 8m3'
                                                        : vehicule.typeUtilitaire=== 'utilitaire_12m3' ? 'Location utilitaire 12m3'
                                                                : vehicule.typeUtilitaire=== 'utilitaire_15m3' ? 'Location utilitaire 15m3'
                                                                        : vehicule.typeUtilitaire=== 'utilitaire_20m3' ? 'Location utilitaire 20m3'
                                                                                : vehicule.typeUtilitaire=== 'utilitaire_20m3_avec_hayon' ? 'Location utilitaire 20m3 avec hayon'
                                                                                        : vehicule.typeUtilitaire=== 'utilitaire_25m3' ? 'Location utilitaire 25m3'
                                                                                                : vehicule.typeUtilitaire=== 'utilitaire_30m3' ? 'Location utilitaire 30m3'
                                                                                                        : vehicule.typeUtilitaire=== 'poids_lourd' ? 'Location poids lourd'
                                                                                                                : vehicule.typeUtilitaire=== 'benne_basculante' ? 'Location benne basculante'
                                                                                                                        : vehicule.typeUtilitaire=== 'camion_benne_paysagiste' ? 'Location camion benne paysagiste'
                                                                                                                                : vehicule.typeUtilitaire=== 'camion_plateau_ridelles' ? 'Location camion plateau ridelles'
                                                                                                                                        : vehicule.typeUtilitaire=== 'camion_pupitre' ? 'Location camion pupitre'
                                                                                                                                                : vehicule.typeUtilitaire=== 'camion_plateau' ? 'Location camion plateau'
                                                                                                                                                        : vehicule.typeUtilitaire=== 'remorque_porte_voiture' ? 'Location remorque porte voiture'
                                                                                                                                                                : vehicule.typeUtilitaire=== 'remorque_porte_moto_ou_quad' ? 'Location remorque porte moto ou quad': vehicule.typeUtilitaire}}
        </h5>
        <p class="center-text">{{ vehicule.description }}</p>
        <div>
          <button pButton pRipple label="Obtenir un prix" style="width: 600px" type="submit" class="btn btn-primary" (click)="openDialog(vehicule.vehiculeId)"></button>
        </div>

        <p-dialog class="custom-dialog" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [style]="{ 'width': '700px', 'height': '950px' }" >
          <section>
            <div class="content">
              <div class="container" style="margin-top: 20px;">
                <div class="bg-light text-center rounded p-4">
                  <div >
                    <h3 style="text-align: center;"> Ajouter une nouvelle réservation</h3>
                  </div>
                  <br>
                  <form style="width: 80%; margin-left: auto; margin-right: auto;">
                    <div>
                      <label for="">Date début</label>
                      <input type="datetime-local" name="datedebut" [(ngModel)]="contract.datedebut"  required class="form-control"style="background-color: #d9edf7">
                    </div>
                    <br>
                    <div>
                      <label for="">Date fin</label>
                      <input type="datetime-local" name="datefin" [(ngModel)]="contract.datefin" required class="form-control" style="background-color: #d9edf7">
                    </div>
                    <br>
                    <div>
                      <label for="">Client</label>
                      <input type="text" name="clientNom" [(ngModel)]="clientNom" required class="form-control" style="background-color: #d9edf7">
                    </div>
                    <br>
                    <button pButton pRipple label="Veuillez choisir le client"  class="btn btn-dark" style="color: white;background-color: #3092b0; font-weight: bold; width:475px;"   class="btn btn-primary" (click)="openDialogclient()"></button>
<br>
                    <div *ngIf="displayDialogclient" class="custom-dialog-overlay">
                      <div class="custom-dialog-container">
                        <section>
                          <div class="content">
                            <div class="input-container">
                              <input type="text" [(ngModel)]="searchQuery" (input)="updateFilteredVehicles()" name="search" placeholder="chercher un client" class="form-control mb-2 input-with-margin" style="background-color: #d9edf7; color:grey; text-align: center; width: 400px;" />
                            </div>
                            <table class="table">
                              <thead class="table-dark-bg">
                              <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Adresse</th>
                                <th scope="col">Date de naissance</th>
                                <th scope="col">Lieu de naissance</th>
                                <th scope="col">Permis</th>
                                <th scope="col">Téléphone</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let item of filteredClients" (click)="selectClient(item)" [ngClass]="{ 'selected-row': selectedClient === item }">
                                <td>{{ item.nom }}</td>
                                <td>{{ item.prenom }}</td>
                                <td>{{ item.adresse }}</td>
                                <td>{{ item.datenaissance }}</td>
                                <td>{{ item.lieunaissance }}</td>
                                <td>{{ item.permis }}</td>
                                <td>{{ item.telephone }}</td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </section>
                      </div>
                    </div>

                    <div class="text-center">
                      <button (click)="addRentalContrat()" type="submit" class="btn btn-primary">Confirmer</button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </section>
        </p-dialog>
      </div>
    </div>
  </div>

