.page-header {
  background-image: url(https://img.freepik.com/photos-gratuite/route-droite-au-milieu-du-desert-magnifiques-montagnes-coucher-soleil_181624-37698.jpg?w=1060&t=st=1681629552~exp=1681630152~hmac=2322a3b56cf747526f9c2e49993d65838cbed14a0ba552c9912a4d95118cdf18);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

.bg-primary {
  background-color: #1E90FF;
}

.bg-opacity-50 {
  background-color: transparent !important;
}


